@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: var(--white);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --blue: #0088a9;
  --grey: #24252a;
  --white: #edf0f1;
}

/* Header */
header nav {
  height: 125px;
  width: 100%;
  z-index: 1;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--grey);
}

header nav .DHB__Header-Nav_Icon {
  text-decoration: none;
  color: var(--white);
  font-size: 2rem;
  font-weight: bold;
  margin-left: 1rem;
  transition: all 0.3s ease-in-out;
}

header nav .DHB__Header-Nav_Icon:hover {
  color: var(--blue);
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav ul li {
  margin: 1rem;
  font-size: 1.3rem;
}

header nav ul li a {
  color: var(--white);
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

header nav ul li a:hover {
  color: var(--blue);
}

header nav ul .DHB__Header-Nav_Lock {
  border: 2px solid var(--white);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

header nav ul .DHB__Header-Nav_Lock:hover {
  border: 2px solid var(--blue);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

/* Main */
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  background-color: white;
  color: var(--blue);
  height: 50vh;
  margin-top: 20vh;
  margin-left: 35%;
  box-shadow: 0 15px 30px 0 rgb(0 47 107 / 10%);
}

form h2 {
  font-size: 2.5rem;
  margin: 0.5rem;
}

form label {
  margin-top: 0.6rem;
  margin-bottom: 0.4rem;
}

form input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0 5px;
  border-bottom: var(--blue) solid 2.5px;
  width: 70%;
  color: var(--blue);
}

form input::placeholder {
  opacity: 0.5;
  color: var(--blue);
}

form #Submit {
  width: 70%;
  margin: 1rem 0 1rem 0;
  height: 2rem;
  background: transparent;
  border: var(--blue) solid 2px;
  border-radius: 5px;
  color: var(--blue);
  transition: all 0.3s;
}

form #Submit:hover {
  cursor: pointer;
  opacity: 0.5;
}

#signInButton {
  font-size: 1.3rem;
  padding: 0.5rem 1.5rem;
  background: transparent;
  border: var(--blue) solid 2px;
  border-radius: 5px;
  color: var(--blue);
  transition: all 0.3s;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#signInButton:hover {
  cursor: pointer;
  opacity: 0.5;
}
