@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: var(--white);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --blue: #0088a9;
  --grey: #24252a;
  --white: #edf0f1;
}

/* Header */
header nav {
  height: 125px;
  width: 100%;
  z-index: 1;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--grey);
}

header nav .DHB__Header-Nav_Icon {
  text-decoration: none;
  color: var(--white);
  font-size: 2rem;
  font-weight: bold;
  margin-left: 1rem;
  transition: all 0.3s ease-in-out;
}

header nav .DHB__Header-Nav_Icon:hover {
  color: var(--blue);
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav ul li {
  margin: 1rem;
  font-size: 1.3rem;
}

header nav ul li a {
  color: var(--white);
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

header nav ul li a:hover {
  color: var(--blue);   
}

header nav ul .DHB__Header-Nav_Lock {
  border: 2px solid var(--white);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

header nav ul .DHB__Header-Nav_Lock:hover {
  border: 2px solid var(--blue);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

/* Splash Page */
header div {
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/bank1.jpg");
  height: 65vh;
  width: 100%;
  box-shadow: 0px 1px 10px 0 rgb(14 15 16 / 70%), 0 6px 30px 0 rgb(14 15 16 / 19%);
}

header div h1 {
  color: var(--white);
  font-size: 3rem;
  margin: 0;
}

/* Main */
main .DHB__Main-Welcome {
  width: 80%;
  margin-top: 5rem;
  margin-left: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

main .DHB__Main-Welcome_Left {
  width: 40%;
  text-align: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main .DHB__Main-Welcome_Left > h2 {
  font-size: 2.5rem;
}

main .DHB__Main-Welcome_Left > p {
  font-size: 1.1rem;
}

main .DHB__Main-Welcome_Right {
  width: 40%;
  border-radius: 3rem;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/Dhruv_Banking-Logo.png");
}

main .DHB__Main-Grey {
  position: absolute;
  width: 250px;
  border-radius: 2rem;
  aspect-ratio: 1/1;
  box-shadow: 0px 1px 10px 0 rgb(14 15 16 / 70%), 0 6px 30px 0 rgb(14 15 16 / 19%);
}

main .Grey_One {
  left: 10rem;
  top: 67vh;  
}

main .Grey_Two {
  right: 10rem;
  top: 120vh;
}

hr {
  width: 95%;
  margin-left: 2.5%;
  margin: 7rem 0 7rem 2.5%;
}

/* Footer */
footer {
  background-color: var(--grey);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--white);
  padding: 2rem 0;
}

footer h3 {
  font-size: 2.1rem;
  margin: 0;
  padding: 0;
}

footer ul {
  padding: 0;
}

footer ul li {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: fit-content;
  transition: all 0.3s ease-in-out;
}

/* Footer Left */
footer .DHB__Footer-Links li a {
  color: var(--white);
  text-decoration: none;
  margin: 1rem;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}

footer .DHB__Footer-Links li a:hover {
  color: var(--blue);
}

footer .DHB__Footer-Links li:hover {
  transform: translateX(10px);
}

/* Footer right */
footer .DHB__Footer-Social_Links {
  height: 100%;
}

footer .DHB__Footer-Social_Links li {
  display: inline-block;
}

footer .DHB__Footer-Social_Links li a {
  margin: 0.5rem;
  font-size: 2rem;
  margin: 0.5rem;
  color: var(--white);
  transition: all 0.3s ease-in-out;
}

footer .DHB__Footer-Social_Links li a:hover { 
  color: var(--blue);
}