{% extends 'base.html' %}

{% block head %}
<link rel="icon" href="../static/images/Dhruv_Banking-Logo.png">
<title>Home | Dhruv Banking</title>
<script src="https://kit.fontawesome.com/866b8b01f2.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../static/css/styles.css">
{% endblock %}

{% block body %}
<!-- HEADER -->
<header>
    <!--- NAVIGATION -->
    <nav>
        <a href="#">
            <img src="../static/images/Dhruv_Banking-NoBG.png" alt="">
        </a>

        <ul>
            <li><a href="#">Register</a></li>
            <li><a class="DHB__Header-Nav_Lock" href="/login">Login <i class="fa-solid fa-lock"></i></a></li>
        </ul>   
    </nav>

    <div>
        <h1>Dhruv Banking - Let's get there!</h1>
    </div>
</header>

<main>

</main>
{% endblock %}