{% extends 'base.html' %}

{% block head %}
<link rel="icon" href="../static/images/Dhruv_Banking-Logo.png">
<title>Home | Dhruv Banking</title>
<script src="https://kit.fontawesome.com/866b8b01f2.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../static/css/styles.css">
{% endblock %}

{% block body %}
<!-- HEADER -->
<header>
    <!--- NAVIGATION -->
    <nav>
        <a href="#" class="DHB__Header-Nav_Icon">
            Dhruv Banking™️
        </a>

        <ul>
            <li><a href="/register">Register</a></li>
            <li><a class="DHB__Header-Nav_Lock" href="/login">Login <i class="fa-solid fa-lock"></i></a></li>
        </ul>   
    </nav>

    <div>
        <h1>Dhruv Banking - Let's get there!</h1>
    </div>
</header>

<!-- MAIN -->
<main>
    <div class="DHB__Main-Welcome">
        <img class="DHB__Main-Grey Grey_One" src="../static/images/grey.png" alt="GreyBox" title="NEVER GONNA GIVE YOU UP ONE">
        <img class="DHB__Main-Grey Grey_Two" src="../static/images/grey.png" alt="GreyBox" title="NEVER GONNA GIVE YOU UP TWO">

        <div class="DHB__Main-Welcome_Left">
            <h2>Welcome to Dhruv Banking!</h2>
            <p>
                Dhruv Banking is a web application that allows you to manage your bank account.
                You can create an account, login, and manage your account. <strong>Please note that all 
                the images to my knowledge are Copyright free, and also this website is NOT 
                A BANK, this is for a Computer Science assesment. I am not liable for any legal stuff :3</strong>
            </p>
        </div>
        <div class="DHB__Main-Welcome_Right"></div>
    </div>
    <hr>
</main>

<footer>
    <div class="DHB__Footer-Links">
        <h3>Useful Links</h3>

        <ul>
            <li><a target="_blank" href="https://www.youtube.com/watch?v=QDia3e12czc">Never</a></li>
            <li><a target="_blank" href="https://www.youtube.com/watch?v=QDia3e12czc">Gonna</a></li>
            <li><a target="_blank" href="https://www.youtube.com/watch?v=QDia3e12czc">Give</a></li>
            <li><a target="_blank" href="https://www.youtube.com/watch?v=QDia3e12czc">You</a></li>
            <li><a target="_blank" href="https://www.youtube.com/watch?v=QDia3e12czc">Up</a></li>
        </ul>
    </div>

    <div class="DHB__Footer-Social_Links">
        <h3>Social Links</h3>

        <ul>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-regular fa-envelope"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
        </ul>
    </div>
</footer>
{% endblock %}