{% extends 'base.html' %} 

{% block head %}
<link rel="icon" href="../static/images/Dhruv_Banking-Logo.png">
<title>Register | Dhruv Banking</title>
<script src="https://kit.fontawesome.com/866b8b01f2.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../static/css/register.css">
{% endblock %} 

{% block body %}
<header>
    <!--- NAVIGATION -->
    <nav>
        <a href="/" class="DHB__Header-Nav_Icon">
            Dhruv Banking™️
        </a>

        <ul>
            <li><a href="#">Register</a></li>
            <li><a class="DHB__Header-Nav_Lock" href="/login">Login <i class="fa-solid fa-lock"></i></a></li>
        </ul>   
    </nav>
</header>

<!-- MAIN -->
<main>
    <form onsubmit="return false">
        <h2>Sign Up!</h2>
  
        <label for="Username">Username:</label>
        <input
          type="text"
          name="Username"
          id="Username"
          placeholder="Enter Username Please"
          required
        />
  
        <label for="Firstname">Firstname:</label>
        <input
          type="text"
          name="Firstname"
          id="Firstname"
          placeholder="Enter Firstname Please"
          required
        />
  
        <label for="Lastname">Lastname:</label>
        <input
          type="text"
          name="Lastname"
          id="Lastname"
          placeholder="Enter Lastname Please"
          required
        />
  
        <label for="Email">Email:</label>
        <input
          type="text"
          name="Email"
          id="Email"
          placeholder="Enter Email Please"
          required
        />
  
        <label for="Password">Password</label>
        <input
          type="password"
          name="Password"
          id="Password"
          placeholder="Enter Password Please"
          required
        />
  
        <input type="submit" id="Submit" />
    </form>
</main>

<script src="../static/js/postUser.js"></script>
{% endblock %}
