{% extends 'base.html' %} 

{% block head %}
<title>Reset Password | Dhruv Banking</title>
<link rel="stylesheet" href="../static/css/resetPass.css">
{% endblock %} 

{% block body %}
<!-- HEADER -->
<header>
    <!--- NAVIGATION -->
    <nav>
        <a href="/" class="DHB__Header-Nav_Icon">
            Dhruv Banking™️
        </a>

        <ul>
            <li><a href="/register">Register</a></li>
            <li><a class="DHB__Header-Nav_Lock" href="/login">Login <i class="fa-solid fa-lock"></i></a></li>
        </ul>   
    </nav>
</header>

<!-- MAIN -->
<main>
    <div id="loader"></div>
    <form onsubmit="return false">
        <h2>Reset Password</h2>
  
        <label for="Password">Password:</label>
        <input
          type="password"
          name="Password"
          id="Password"
          placeholder="Enter Password Please"
          required
        />

        <label for="confirmPassword">Confirm Password:</label>
        <input
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          placeholder="Conform Your Password Please"
          required
        />
  
        <input type="submit" id="Submit" />
    </form>
</main>

<script src="../static/js/resetPassword.js"></script>
{% endblock %}
