{% extends 'base.html' %} {% block head %}
<link rel="icon" href="../static/images/Dhruv_Banking-Logo.png" />
<title>Home | Dhruv Banking</title>
<script
	src="https://kit.fontawesome.com/866b8b01f2.js"
	crossorigin="anonymous"
></script>
<link rel="stylesheet" href="../static/css/login.css" />
{% endblock %} {% block body %}
<!-- HEADER -->
<header>
	<!--- NAVIGATION -->
	<nav>
		<a href="/" class="DHB__Header-Nav_Icon"> Dhruv Banking™️ </a>

		<ul>
			<li><a href="/register">Register</a></li>
			<li>
				<a class="DHB__Header-Nav_Lock" href="/login"
					>Login <i class="fa-solid fa-lock"></i
				></a>
			</li>
		</ul>
	</nav>
</header>

<!-- MAIN -->
<main>
	<div id="loader"></div>
	<form onsubmit="return false">
		<h2>Click button below</h2>
		<input
			type="submit"
			id="Submit"
			value="Click me to verify your account"
		/>
	</form>
</main>

<script src="../static/js/verifyEmail.js"></script>
{% endblock %}
